name: Gist Node Auto Sync

on:
  workflow_dispatch: 
  schedule:
    - cron: '0 */6 * * *'

jobs:
  run_sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 设置 Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: 安装依赖
        run: pip install requests

      - name: 执行抓取脚本
        run: python main.py

      - name: 强制同步仓库
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"
          git add *.txt
          # 即使内容没变也强制创建一个 commit 记录
          git commit --allow-empty -m "Update Nodes: $(date)"
          git push origin main
