name: Gist Node Auto Sync

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch: 

jobs:
  run_sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: pip install requests

      - name: Execute Script
        run: python main.py

      - name: Commit and Push
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"
          
          # 添加所有 txt 文件
          git add *.txt
          
          # 提交更改
          git commit -m "Update nodes plain text: $(date)" || echo "No changes to commit"
          
          # 推送
          git push origin main
